.app{
    padding: 2em 1.5em;
    height: 100vh;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1em;
    }
    
    .app__header{
        background-color: rgba(248, 246, 248, 0.481);
        display: flex;
      /* margin: 0; */
      padding: .5em;
        justify-content: space-between;
        border-radius: .5em;
    
        }
        
    .app__title{
    color:#555A88;
    /* background-color: red; */
    font-family: Helvetica Neue;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    
    padding: 0 .5rem; 
    
    border-radius: .5em 0 0 .5em;
    }
    
    .app__btn{
    
    background-color: #555A88;
    color: white;
    padding: .5em .5em;
    gap: .5em;
    border-radius: .5em .5em .5em .5em;
    transition: transform 200ms ease;
    display: flex;
    }
    
    .app__btn:hover{
        box-shadow: 0 0 .3 #0005;
        filter: brightness(1.05);
    }
    .app__user-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    }
    
    